@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=Rubik+Burned&display=swap");

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
}
body {
  font-family: "Lato", sans-serif;
}
/* frist section styling st  */
.header {
  background: rgba(229, 84, 115, 0.1);
}
.frist-section-cotainer {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
}
/* left side style st */
.first-section-left {
  max-width: 650px;
  padding: 197px 240px;
  padding-bottom: 0px;
}
/* h1  */
.frist-section-heading {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}
/* section one paragraph  */
.first-section-paragraph {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 32px;
}
/* frist button  */
.first-section-btn {
  border: none;
  color: white;
  padding: 20px 43px;
  margin-top: 32px;
  border-radius: 8px;
  background: #e55473;
}
/* left side style end  */
/* right side style st  */
img {
  max-width: 573px;
  margin-top: 106px;
  margin-right: 146px;
}
/* right side style end  */

/* frist section styling end  */

/* second section styling st  */

/* upper first d i v st  */
.second-section {
  margin: 0 400px;
}
.featured-frist {
  text-align: center;
  margin-top: 178px;
}
.second-section-headline {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.second-section-paragraph {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  margin: 0 auto;
  color: #000;
  font-weight: 400;
  line-height: 30px;
  margin-top: 24px;
  max-width: 594px;
}
/* upper first d i v end  */

/* lower second div start  */
.featured-second {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 48px;
}
/* 1 st child  */
.featured-card-one {
  max-width: 380px;
  height: 500px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  background-image: url("image/pngwing\ 6.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  width: 100%;
}
/* 2 nd child  */
.featured-card-two{
    max-width: 380px;
    height: 500px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    background-image: url("image/pngwing\ 5.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    width: 100%;
}
/* 3 rd child  */
.featured-card-three{
    max-width: 380px;
    height: 500px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    background-image: url("image/pngwing\ 7.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    width: 100%;
}
/* featured lower text st */
.featured-lower-t-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.pink-flower-tree{
    margin-top: 32px;
    text-decoration-line: underline;
    
}
/* featured lower text end */
/* lower second div end  */



/* third section style st   */
.third-section {
    background: rgba(229, 84, 115, 0.05);
    margin-top: 60px;
  }
  .hd-left{
    margin-top: 160px;
  }
  .hd-container {
    margin: 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .hd-heading {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 12px;
  }
  .hd-paragraph {
    color: rgba(39, 39, 39, 0.6);
    text-align: left;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 594px;
  }
  .hd-btn {
    border-radius: 8px;
    background: #e55473;
    padding: 15px 35px;
    border: none;
    color: #fff;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    margin-top: 32px;
  }
  .hdf {
    width: 250px;
    padding-bottom: 30px;
    /* padding-top: 29px; */
  }
  
/* third section style end   */

/* second section styling end  */
